.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.logo {
    width: 10.93rem;
    height: auto;
    margin-bottom: 1.25rem;
}

.topo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.topoEncolhido {
    justify-content: center;
}

.botaoToggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--blue-200);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.cabeca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textoCabeca {
    font-size: 0.85rem;
    color: var(--text-secund);
    margin-top: 3px;
}

.input {
    margin-top: 20px;
    border: 1px solid var(--text-secund);
    border-radius: 3px;
    height: 35px;
    width: 200px;
    outline: none;
    padding-left: 10px;
    color: var(--text-secund);
    font-weight: bolder;
}

.icon {
    color: var(--blue-200);
}

.funcao {
    margin-top: 1.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

.funcao:hover {
    cursor: pointer;
    border: 1px solid var(--blue-200);
    border-radius: 5px;
    background-color: rgba(0, 123, 255, 0.2);
}

.textoFuncao {
    font-size: 0.85rem;
    color: var(--text-secund);
    font-weight: bolder;
}
